In [302]:
import pandas as pd
import numpy as np

In [303]:
df = pd.read_csv('netflix.csv', index_col=0)

In [304]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,+14,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,+18,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,+18,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,+18,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,+18,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [305]:
df.shape

(8807, 12)

In [306]:
df2 = df.copy()

  > Sacamos los directores por separado

In [307]:
def separar (col):
    try:
        return col.split(',')
    except:
        pass

In [308]:
df['director'] = df['director'].apply(separar)

In [309]:
df = df.explode('director')

In [310]:
def espais (col):
    try:
        return col.strip()
    except:
        pass

In [311]:
df['director'] = df['director'].apply(espais)

In [312]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,+14,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,+18,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,+18,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,NaN,NaN,"September 24, 2021",2021,+18,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,+18,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [313]:
list(df['director'].unique())

['Kirsten Johnson',
 None,
 'Julien Leclercq',
 'Mike Flanagan',
 'Robert Cullen',
 'José Luis Ucha',
 'Haile Gerima',
 'Andy Devonshire',
 'Theodore Melfi',
 'Kongkiat Komesiri',
 'Christian Schwochow',
 'Bruno Garotti',
 'Pedro de Echave García',
 'Pablo Azorín Williams',
 'Adam Salky',
 'Olivier Megaton',
 'K.S. Ravikumar',
 'Alex Woo',
 'Stanley Moore',
 'S. Shankar',
 'Rajiv Menon',
 'Dennis Dugan',
 'Scott Stewart',
 'Robert Luketic',
 'Ashwiny Iyer Tiwari',
 'Abhishek Chaubey',
 'Saket Chaudhary',
 'Daniel Sandu',
 'Cédric Jimenez',
 'George Nolfi',
 'Steven Spielberg',
 'Jeannot Szwarc',
 'Joe Alves',
 'Joseph Sargent',
 'Tyler Greco',
 'Daniel Espinosa',
 'Bunmi Ajakaiye',
 'Antoine Fuqua',
 'Toshiya Shinohara',
 'Masahiko Murata',
 'Hajime Kamegaki',
 'Hirotsugu Kawasaki',
 'Toshiyuki Tsuru',
 'Tensai Okamura',
 'David Yarovesky',
 'Hanns-Bruno Kammertöns',
 'Vanessa Nöcker',
 'Michael Wech',
 'David A. Vargas',
 'Kemi Adetiba',
 'Ben Simms',
 'Prakash Satam',
 'Delhiprasad Deenadayalan',
 'Tomer Eshed',
 'Cedric Nicolas-Troyan',
 'JJC Skillz',
 'Funke Akindele',
 'Thomas Sieben',
 'Marcus Clarke',
 'Alice Waddington',
 'Mona Achache',
 'Patricia Tourancheau',
 'Alexis Almström',
 'Raja Gosnell',
 'Stephen Kijak',
 'Chapman Way',
 'Maclain Way',
 'Jason Hehir',
 'Yemi Amodu',
 'Lijo Jose Pellissery',
 'David de Vos',
 'Luis Alfaro',
 'Javier Gómez Santander',
 'Sara Colangelo',
 'Stephen Herek',
 'Rahul Rawail',
 'Jane Campion',
 'Nagesh Kukunoor',
 'Luke Holland',
 'Shanker Raman',
 'JP Habac',
 'Vidhu Vinod Chopra',
 'Mark Rosman',
 'Gilles Paquet-Brenner',
 'Lasse Hallström',
 'Scott Pleydell-Pearce',
 'Ridley Scott',
 'Neill Blomkamp',
 'Phillip Noyce',
 'Renny Harlin',
 'Anthony Minghella',
 'Simon Wincer',
 'Spike Lee',
 'Sebastián Schindel',
 'Steven C. Miller',
 'Richard LaGravenese',
 'Martin Campbell',
 'Reginald Hudlin',
 'George Jackson',
 'Doug McHenry',
 'Eric Meza',
 'Gerhard Mostert',
 'Michael Martin',
 'Michael Rymer',
 'Andrew Lau Wai-keung',
 'Alan Mak',
 'Brett Weiner',
 'Jim Henson',
 'Gary Winick',
 'Danishka Esterhazy',
 'Troy Byer',
 'Pang Ho-cheung',
 'Tim Burton',
 'David Zucker',
 'Kinka Usher',
 'Sergio Leone',
 "Matthew O'Callaghan",
 'Todd Wilderman',
 'Bobby Farrelly',
 'Peter Farrelly',
 'Wolfgang Petersen',
 'Peter Spirer',
 'Michael Carney',
 'Richard Linklater',
 'Amy Rice',
 'Randal Kleiser',
 'Michael Ritchie',
 'J. Lee Thompson',
 'Evan Goldberg',
 'Seth Rogen',
 'Tom Shadyac',
 'Peter Segal',
 'Malcolm D. Lee',
 'Ramzy Bedia',
 'Éric Judor',
 'Sharan Koppisetty',
 'Taylor Sheridan',
 'Sachin Yardi',
 'Saurabh Kabra',
 'Mark Waters',
 'Partho Mitra',
 'Santram Varma',
 'Anil V. Kumar',
 'Anurag Basu',
 'Sangeeth Sivan',
 'Umesh Ghadge',
 'David Dhawan',
 'Dibakar Banerjee',
 'Apoorva Lakhia',
 'Milan Luthria',
 'Pawan Kripalani',
 'Bhushan Patel',
 'Magnus Martens',
 'Raj Nidimoru',
 'Krishna D.K.',
 'Joshua Rofé',
 'Brad Anderson',
 'Mauricio Dias',
 'Tatiana Villela',
 'Angel Kristi Williams',
 'Roger Donaldson',
 'Christopher Alender',
 'Rush Sturges',
 'David Oyelowo',
 'Mark Lo',
 'Crystal Moselle',
 'Rathindran R Prasad',
 'Han Kwang Il',
 'Karim El Shenawy',
 'Yin Chen-hao',
 'Brian Andrew Mendoza',
 'Dave Needham',
 'Veronica Velasco',
 'Drake Doremus',
 'Miguel Alexandre',
 'Mani Ratnam',
 'Michael Harte',
 'Tosin Igho',
 'Alice Filippi',
 'Paakhi Tyrewala',
 'Laura Brownson',
 'Steve Brill',
 'Moses Inwang',
 'Ferdinando Cito Filomarino',
 'Juan Carlos Medina',
 'Inma Torrente',
 'Julián Gaviria',
 'Steven Yamamoto',
 'Charles Uwagbai',
 'Julián Hernández',
 'Sam Hobkinson',
 'Vince Marcello',
 'Jonathan Teplitzky',
 'Sakon Tiacharoen',
 'Floyd Russ',
 'Dustin Hoffman',
 'Adze Ugah',
 'Hideaki Takizawa',
 'Quoc Bao Tran',
 'Bejoy Nambiar',
 'Priyadarshan',
 'Karthik Narain',
 'Vasanth Sai',
 'Karthik Subbaraj',
 'Arvind Swamy',
 'Sarjun',
 'Gautham Vasudev Menon',
 'Kayode Kasum',
 'Just Philippot',
 'Kirk DeMicco',
 'Brandon Jeffords',
 'Rohit Shetty',
 'Cavi Borges',
 'Luciano Vidigal',
 'Alejandro Doria',
 'Laura Fairrie',
 'Marcelo Piñeyro',
 'Izu Ojukwu',
 'Peter Winther',
 'Susan Lacy',
 'Billy Corben',
 'James Mangold',
 'Chineze Anyaene',
 'Hsu Fu-chun',
 'Kristine Stolakis',
 'Eva Müller',
 'Michael Schmitt',
 'Brian Levant',
 'Rod Daniel',
 'Robert Zemeckis',
 'Todor Chapkanov',
 'Phil Lord',
 'Christopher Miller',
 'John Hughes',
 'Justin Baldoni',
 'Joe Roth',
 'Mark Helfrich',
 'Mag Hsu',
 'Hsu Chih-yen',
 'Christopher Nolan',
 'Paul Thomas Anderson',
 'Nick Castle',
 'Howard Zieff',
 'David Feiss',
 'David Gordon Green',
 'Jorge Blanco',
 'Zara Hayes',
 'Gary Ross',
 'Clint Eastwood',
 'Trey Parker',
 'Kelly Fremon Craig',
 'Tom Elkins',
 'Tony Scott',
 'Brad Furman',
 'Sylvain White',
 'Irwin Winkler',
 'Garry Marshall',
 'Kenneth Gyang',
 'Jaume Balagueró',
 'Najwa Najjar',
 'Selçuk Metin',
 'Keishi Otomo',
 'David Charhon',
 'Michelle Bello',
 'Steven Tsuchida',
 'Daniel Markowicz',
 'Louie Schwartzberg',
 'Glen Winter',
 'Ram Gopal Varma',
 'David Benullo',
 'Laxman Utekar',
 'Royale Watkins',
 'Rich Schlansker',
 'Yuval Adler',
 'Quentin Tarantino',
 'Clay Glen',
 'Muzi Mthembu',
 'Marcos Bucay',
 'Peter Thorwarth',
 'Kim Seong-hun',
 'Augustine Frizzell',
 'Sidheswar Shukla',
 'Rajiv Chilaka',
 'Binayak Das',
 'Arpan Sarkar',
 'Shyamal Chaulia',
 'Owll Mina',
 'Ainsley Gardiner',
 'Briar Grace-Smith',
 'Mahmoud Karim',
 'Kyohei Ishiguro',
 'Seyi Babatope',
 'Johane Matte',
 'Andrew L. Schmidt',
 'Francisco Ruiz Velasco',
 'Morgan Ingari',
 'Abdulaziz Alshlahei',
 'Edward Drake',
 'Kathryn Fasegha',
 'Sita Likitvanichkul',
 'Jetarin Ratanaserikiat',
 'Apirak Samudkitpaisan',
 'Thanabodee Uawithya',
 'Adirek Wattaleela',
 'Leigh Janiak',
 'Luis Estrada',
 'Garrett Bradley',
 'Sofia Coppola',
 'Colin Trevorrow',
 'Bill Condon',
 'David Slade',
 'Chris Weitz',
 'Catherine Hardwicke',
 'Hadrah Daeng Ratu',
 'Tommy Chong',
 'Fred Ouro Preto',
 'Mayye Zayed',
 'Alessandra de Rossi',
 'Ash Brannon',
 'Chris Buck',
 'Alaa Eddine Aljem',
 'Tom Donahue',
 'Roberto De Feo',
 'Paolo Strippoli',
 'Navot Papushado',
 'Manuel Alcalá',
 'Ricardo Trogi',
 'Semi Chellas',
 'Akay Mason',
 'Abosi Ogba',
 'Viridiana Lieberman',
 'Nima Nourizadeh',
 'Daniel Růžička',
 'Juraj Šajmovič',
 'Femi D. Ogunsanwo',
 'Douglas Attal',
 'Kim Joo-hyung',
 'Avi Federgreen',
 'Jericca Cleland',
 'Kevin Munroe',
 'Ahmed Siddiqui',
 'Hallie Meyers-Shyer',
 'Scott Speer',
 'Barry Levinson',
 'Tolulope Itegboje',
 'Camille Delamarre',
 'Pascal Atuma',
 'Oleg Trofim',
 'Mahmood Ali-Balogun',
 'Jan Holoubek',
 'Anurin Nwunembom',
 'Musing Derrick',
 'Christine Luby',
 'Udoka Oyeka',
 'Yeo Siew Hua',
 'Hardik Mehta',
 'Rajveer Singh Maan',
 'Harpeet Singh',
 'Youssef Chahine',
 'Saw Teong Hin',
 'Nik Amir Mustapha',
 'M.S. Prem Nath',
 'Rano Karno',
 'Pramod Pawar',
 'Naresh Saigal',
 'Vinil Mathew',
 'Neri Parenti',
 'Ramsey Nouah',
 'Bong Joon Ho',
 'Kim Tae-hyung',
 'Michael Spierig',
 'Peter Spierig',
 'Ernie Barbarash',
 'Matt Ogens',
 'Jay Roach',
 'McG',
 'Frank Marshall',
 'Victor Vu',
 'Chow Hin Yeung Roy',
 'Joel Hopkins',
 'John Stevenson',
 'Mark Osborne',
 'Jennifer Yuh Nelson',
 'Greg Berlanti',
 'Garth Davis',
 'Malik Nejer',
 'Rob Marshall',
 'Martin Brest',
 'Shuko Murase',
 'Paul W.S. Anderson',
 'Ivan Reitman',
 'Joel Gallen',
 'Claire McCarthy',
 'Mary Lambert',
 'Sidharta Tata',
 'Aco Tenriyagelli',
 'Dian Sastrowardoyo',
 'Ifa Isfansyah',
 'Jason Iskandar',
 'Trevor Nunn',
 'Gabriele Muccino',
 'Jim Field Smith',
 'Chris Koch',
 'J.J. Abrams',
 'Rob Minkoff',
 'Lynn Shelton',
 'Adam McKay',
 'Anton Corbijn',
 'Robin Bissell',
 'David Fincher',
 'John G. Avildsen',
 'Alan Parker',
 'Walter Hill',
 'Stephen Frears',
 'Bryan Bertino',
 'Phil Alden Robinson',
 'Florian Henckel von Donnersmarck',
 'Len Wiseman',
 'Måns Mårlind',
 'Björn Stein',
 'Patrick Tatopoulos',
 'Robert O. Peters',
 'Vincent Ward',
 'Gregory Nava',
 'Mary Harron',
 'Matt Thompson',
 'Jameel Buari',
 'Shen Leping',
 'Matt Aselton',
 'Jose Javier Reyes',
 'Jakub Piątek',
 'John Dower',
 'B. T Thomas',
 'Andrew Dominik',
 'Nibal Arakji',
 'Sofie Šustková',
 'Anissa Bonnefont',
 'Bahij Hojeij',
 'Jonathan Hensleigh',
 'Srijit Mukherji',
 'Vasan Bala',
 'Justin P. Lange',
 'Kimmy Gatewood',
 'Tània Balló',
 'Manolo Caro',
 'Jayme Monjardim',
 'Kingsley Ogoro',
 'Cristina Jacob',
 'Fernando Moro',
 'Ivan Andrew Payawal',
 'Yoshiyuki Tomino',
 'Yoshikazu Yasuhiko',
 'Rob Seidenglanz',
 'Simon Frederick',
 'Michihito Fujii',
 'Paul Weitz',
 'Lucky Kuswandi',
 'Soudade Kaadan',
 'Antoinette Jadaone',
 'Marie Clements',
 'David O. Russell',
 'Achille Brice',
 'Max Jabs',
 'Sarawut Wichiensarn',
 'Ricardo de Montreuil',
 'Peter Chelsom',
 'Michael Lockshin',
 'Francine Parker',
 'Daniel Schechter',
 'Mike Gunther',
 'David Zeiger',
 'Michael Simon',
 'Jerry Rothwell',
 'Joe Berlinger',
 'Bruce Sinofsky',
 'Ian Cheney',
 'Sharon Shattuck',
 'Bradley Parker',
 'Prabhakaran',
 'Manjari Makijany',
 'Jay Oliva',
 'Chris Appelhans',
 'Michael Tiddes',
 'Lara Saba',
 'Bao Nhan',
 'Namcito',
 'Mark Raso',
 'Tariq Alkazim',
 'Yulene Olaizola',
 'Matthew Heineman',
 'Robert Peters',
 'Jonathan Clay',
 'Ally Pankiw',
 'George Ford',
 'Lee Kae-byeok',
 'Jayan Moodley',
 'Daniel Benmayor',
 'Alex Díaz',
 'Helena Bergström',
 'Alejandro De Grazia',
 'Juan Stadler',
 'Myriam Fares',
 'Chiaki Kon',
 'Rae Red',
 'Lance Hool',
 'Nicole Conn',
 'Les Mayfield',
 'Ellen Seidler',
 'Megan Siler',
 'Roger Christian',
 'Peter Galison',
 'Lance Young',
 'Leandro Neri',
 'Thom Fitzgerald',
 'Don Michael Paul',
 'Andrzej Bartkowiak',
 'Harold Becker',
 'Andrew Jenks',
 'Ric Roman Waugh',
 'Rob Reiner',
 'Andy Tennant',
 'Tade Ogidan',
 'Scott Spiegel',
 'Jessie Nelson',
 'Theodore Witcher',
 'Aurora Guerrero',
 'Michael Jai White',
 'James McTeigue',
 'Takuya Igarashi',
 'Michelle MacLaren',
 'Hidenori Inoue',
 'Todd Phillips',
 'Steve Ball',
 'Dominic Sena',
 'Alan Alda',
 'Mika Kaurismäki',
 'Sydney Pollack',
 'Lorene Scafaria',
 'Barbra Streisand',
 'Michael Winterbottom',
 'Emma Tammi',
 'Peter Hutchings',
 'George Ratliff',
 'Bo Burnham',
 'Ekene Som Mekwunye',
 'David Frankel',
 'Kevin Johnson',
 'José Larraza',
 'Marc Pons',
 'Gary Sing',
 'Julio Quintana',
 'Paween Purijitpanya',
 'Pablo Faro',
 'Letizia Lamartire',
 'Ray Jiang',
 'Daniel Vernon',
 'Steve Gukas',
 'Tim Johnson',
 'Vishwesh Krishnamoorthy',
 'Zack Snyder',
 'Uduak-Obong Patrick',
 'Mohamed Diab',
 'Amr Salama',
 'Christopher Amos',
 'Robert Rodriguez',
 'David Ayer',
 'Eshom Nelms',
 'Ian Nelms',
 'James Moll',
 'James Redford',
 'Kaashvie Nair',
 'J.D. Dillard',
 'Nikhil Pherwani',
 'Mae Czarina Cruz',
 'Praveen Kandregula',
 'Cecilia Verheyden',
 'Daniel Minahan',
 'Donovan Marsh',
 'Brent Dawes',
 'Leli Maki',
 'Uzodinma Okpechi',
 'Daniel Prochaska',
 'Joe Wright',
 'Matthew Vaughn',
 'Aditya Kripalani',
 'Adriano Rudiman',
 'David Pablos',
 'Alexandre Aja',
 'Cai Cong',
 'Samuel Olatunji',
 'Ramon Térmens',
 'Svetlana Cvetko',
 'Martin Prakkat',
 'Baran bo Odar',
 'Zhang Chong',
 'Yılmaz Erdoğan',
 'Shantrelle P. Lewis',
 'Ivan Ayr',
 'Anthony Mandler',
 'Vijay Roche',
 "Stanley Menino D'Costa",
 'Jennifer Brea',
 'Julia von Heinz',
 'Niels Arden Oplev',
 'Don Argott',
 'Sheena M. Joyce',
 'Joshua Zeman',
 'Duncan Skiles',
 'Sean McNamara',
 'Vondie Curtis-Hall',
 'Robert Radler',
 'Roel Reiné',
 'Dean Parisot',
 'Paul Greengrass',
 'Justin Kelly',
 'Eric Darnell',
 'Tom McGrath',
 'Conrad Vernon',
 'Suhas Kadav',
 'Jeff Wadlow',
 'Charles Martin',
 'Stella Corradi',
 'Roland Emmerich',
 'Kevin Macdonald',
 'Ann Deborah Fishman',
 'Chris Gorak',
 'Peter Jackson',
 'Roger Kumble',
 'Jonathan Lynn',
 'Courtney Hunt',
 'Pierre Greco',
 'Nancy Florence Savard',
 'Andrew Davis',
 'Kevin Smith',
 'Chaitanya Tamhane',
 'Oriol Paulo',
 'Mike Rianda',
 'Jeff Rowe',
 'Johannes Roberts',
 'Robert Pulcini',
 'Shari Springer Berman',
 'Pedro Antonio',
 'John Wells',
 'Jonathan Liebesman',
 'Maria Pulera',
 'Santhosh Viswanath',
 'Seema Pahwa',
 'Ozan Açıktan',
 'Meltem Bozoflu',
 'Hakan Algül',
 'Selçuk Aydemir',
 'Birkan Pusa',
 'Ömer Faruk Sorak',
 'Şenol Sönmez',
 'Alexis Morante',
 'Burak Aksak',
 'Kıvanç Baruönü',
 'Rindala Kodeih',
 'Kongkiat Khomsiri',
 'Bedran Güzel',
 'Marwan Nabil',
 'MIKIKO',
 'Daito Manabe',
 'Takashi Shimizu',
 'Joe Penna',
 'Ahishor Solomon',
 'Curtis Graham',
 'Gerardo Gatica',
 'Akshay Sanjeev Chavan',
 'Sumit Das',
 'John Madden',
 'Edward James Olmos',
 'Abhinay Deo',
 'Kiran Rao',
 'Abbas Tyrewala',
 'Ashutosh Gowariker',
 'Satyajit Bhatkal',
 'Anusha Rizvi',
 'Mahmood Farooqui',
 'Aamir Khan',
 'Shashank Khaitan',
 'Raj Mehta',
 'Neeraj Ghaywan',
 'Kayoze Irani',
 'Ryan Crego',
 'Cassi Simonds',
 'Guillermo del Toro',
 'Tony Abulu',
 'Stefan Westerwelle',
 'Ron Howard',
 'Justin Benson',
 'Aaron Moorhead',
 'Niki Caro',
 'Mark Dennis',
 'Ben Foster',
 'Taranveer Singh',
 'TT The Artist',
 'Keiichi Sato',
 'Yasushi Kawamura',
 'Glenn Weiss',
 'Michael Civille',
 'Ryuichi Hiroki',
 'One9',
 'Luis Valdez',
 'Cheng Wei-hao',
 'Pass Patthanakumjon',
 'Buchi Babu Sana',
 'Fredrick Munk',
 'Moyoung Jin',
 'Caroline Sá',
 'Deepti Kakkar',
 'Fahad Mustafa',
 'Hikaru Toda',
 'Chico Pereira',
 'Elaine McMillion Sheldon',
 'Zhao Ji',
 'Jamie Babbit',
 'Park Hoon-jung',
 'Dare Olaitan',
 'Ben Falcone',
 'Travon Free',
 'Martin Desmond Roe',
 'Angga Dwimas Sasongko',
 'Steve Rolston',
 'Shalini Kantayya',
 'Madonne Ashwin',
 'Enah Johnscott',
 'Braden R. Duemmler',
 'Cal Brunker',
 'Steve Pink',
 'Xiao Feng',
 'Ricky Staub',
 'Patrick Durham',
 'Paul G. Volk',
 'BB Sasore',
 'Naseef Yusuf Izuddin',
 'Appie Boudellah',
 'Aram van de Rest',
 'Sylvie Verheyde',
 'Nick Moore',
 'Alex Zamm',
 'Rajkumar Hirani',
 'Rajesh Mapuskar',
 'Lina Al Abed',
 'James Wan',
 'David Hackl',
 'Takeshi Nozue',
 'Subhash Kapoor',
 'Ringo Lam',
 'George Cukor',
 'Tony Giglio',
 'Shinji Aramaki',
 'Masaru Matsumoto',
 'John Luessenhop',
 'Hanung Bramantyo',
 'Pandu Adjisurya',
 'Bashir El Deek',
 'Roman Polański',
 'Nelson McCormick',
 'Mic Rodgers',
 'Shawn Rech',
 'Peyton Reed',
 'Julian Schnabel',
 'Adrián García Bogliano',
 'Jose Gomez',
 'Jonathon Link',
 'Blair Simmons',
 'Justin Chadwick',
 'John Hillcoat',
 'Nadine Ibrahim',
 'Roman White',
 'Fermín Muguruza',
 'Mike Hodges',
 'Eylem Kaftan',
 'Fernando Ayllón',
 'Umesh Bist',
 'Massimiliano Camaiti',
 'Aleksey Tsitsilin',
 'Ali Tabrizi',
 'Kagiso Lediga',
 'Jung-ah Im',
 'Takuma Sato',
 'Brody Chu',
 'Dimitri Logothetis',
 'Taketoshi Sado',
 'Li Weiran',
 'Chinaza Onuzo',
 'Anna Elizabeth James',
 'Vitor Brandt',
 'Troy Miller',
 "Liam O'Donnell",
 'Manny Rodriguez',
 'Jay Lavender',
 'Farah Nabulsi',
 'Walter Taylaur',
 'Chris Smith',
 'Alain Brunard',
 'Tate Taylor',
 'Ladislaus Kiraly',
 'Oliver Stone',
 'Hemambar Jasti',
 'Taylor Morden',
 'Helena Coan',
 'Muharrem Gülmez',
 'Dolapo Adeleke',
 'Mahsun Kırmızıgül',
 'Can Ulkay',
 'Luis Alejandro Pérez',
 'Ketche',
 'Erol Özlevi',
 'Miguel Arteta',
 'Tolga Örnek',
 'Pablo Agüero',
 'Mohammad Irfan Ramly',
 'Kevin McManus',
 'Matthew McManus',
 'Ange Basterga',
 'Nicolas Lopez',
 'Gitanjali Rao',
 'Halitha Shameem',
 'Carlos Moreno',
 'Maribel Sánchez-Maroto',
 'Fajar Bustomi',
 'Taylor Hackford',
 'Amy Poehler',
 'Jared Hess',
 'Tyler Measom',
 'Mike Binder',
 'Abir Sengupta',
 'Sunny Lau',
 'Emmett Malloy',
 'Xavier Maingon',
 'Marc-Antoine Hélard',
 'Milton Kremer',
 'Kevin Costner',
 'Marco Petry',
 'Andrew Duncan',
 'Ken Cunningham',
 'Liam Lynch',
 'Jérémie Degruson',
 'Ben Stassen',
 'Matt Ross',
 'Dani de la Orden',
 'Pablo Larraín',
 'John Erick Dowdle',
 'Jesse Peretz',
 'Ribhu Dasgupta',
 'Rizki Balki',
 'Shunsuke Kariyama',
 'Jeferson De',
 'Barry Avrich',
 'David Tryhorn',
 'Ben Nicholas',
 'Tirumala Kishore',
 'Huang Hsin-Yao',
 'Saron Sakina',
 'J Blakeson',
 'Khalid Rahman',
 'Luis Ara',
 'Tharun Bhascker Dhaassyam',
 'B. V. Nandini Reddy',
 'Nag Ashwin',
 'Sankalp Reddy',
 'Prateek Vats',
 'Alex Merkin',
 'Vikram Bhatt',
 'Dallas Jenkins',
 'Damián Romay',
 'Hamisha Daryani Ahuja',
 'Hong Khaou',
 'Mario Briongos',
 'Vinay Bharadwaj',
 'Michael Fimognari',
 'Eric D. Cabello Díaz',
 'Clara Martínez-Lázaro',
 'Monty Tiwa',
 'Ava DuVernay',
 'Alain Darborg',
 'Filip Zylber',
 'Julien Royal',
 'Brian Baugh',
 'Henri Wong',
 'Maïa Sandoz',
 'Mostofa Sarwar Farooki',
 'Joseph Hsu',
 'Sam Levinson',
 'Jo Sung-hee',
 'Michèle Ohayon',
 'Rocco Ricciardulli',
 'Guo Jingming',
 'Jan Belcl',
 'Esteban Crespo',
 'Noé González',
 'Sarah Gavron',
 'Martin Scorsese',
 'Richard Arellano',
 'Jon Favreau',
 'Marco Pontecorvo',
 'Gregory Plotkin',
 'Lluís Quílez',
 'Jude Weng',
 'Simon Stone',
 'Noviandra Santosa',
 'Jeremy Grant',
 'Jeo Baby',
 'Glendyn Ivin',
 'Okey Oku',
 'Ifeanyi Ikpoenyi',
 'Chris Eneng Enaji',
 'Ángeles Reiné',
 'Paul Haggis',
 'Ramin Bahrani',
 'Nicol Paone',
 'Nick Rowland',
 'RZA',
 'Cooper Karl',
 'Gary Fleder',
 'J.A. Bayona',
 'Darren Lynn Bousman',
 'Lydia Dean Pilcher',
 'Ginny Mohler',
 "Cris D'Amato",
 'Mikael Håfström',
 'Simon J. Smith',
 'Byeon Hee-sun',
 'Peter Facinelli',
 'Renuka Shahane',
 'Ross Kauffman',
 'Sung Do-jun',
 'Charles Gozali',
 'Bagus Bramanti',
 'James Toback',
 'Tiller Russell',
 "Francisco D'Eufemia",
 'Chris Rock',
 'Juliet May',
 'Stanley Nelson',
 'Olivier Nakache',
 'Éric Toledano',
 'Prakash Jha',
 'Rohan Sippy',
 'Ross Venokur',
 'Rohena Gera',
 'Maite Ruiz De Austri',
 'Jastis Arimba',
 'Eric Summer',
 'Éric Warin',
 'Kornél Mundruczó',
 'Alejandro Ruax',
 'Ramiro Martínez',
 'Florent Bodin',
 'Sohail Khan',
 'Hallvard Bræin',
 'Jeff Tremaine',
 'Christian Alvart',
 'Robert Townsend',
 'Jeff Deverett',
 'Ron Krauss',
 'Brian Robbins',
 'Jeff Stilson',
 'Sean Penn',
 'Mark McQueen',
 'Melanie Mayron',
 'Donald Petrie',
 'Tony Collingwood',
 'Jennifer Beamish',
 'Toby Trackman',
 'Jaume Collet-Serra',
 'Kim Dong-kyu',
 'Shaz Bennett',
 'Samar Shaikh',
 'Archie Hekagery',
 'Sabrina Rochelle Kalangie',
 'Cosima Spender',
 'Liao Shih-han',
 'Arnon Manor',
 'Timothy Ware-Hill',
 'Gore Verbinski',
 'Al Campbell',
 'Alice Mathias',
 'Maïwenn',
 'Richard Weston',
 'Vikramaditya Motwane',
 'Prime Cruz',
 'Andibachtiar Yusuf',
 'Yandy Laurens',
 'Cathy Garcia-Molina',
 'John Mitchell',
 'Jeremy Kipp Walker',
 'George Clooney',
 'Liu Kuang-hui',
 'Kristian Mercado',
 'Daan Jansen',
 'Stijn Verlinde',
 'Jay Grace',
 'Paul Dugdale',
 'James Haslam',
 'Muhammad Ali',
 'Thomas Toby Parkinson',
 'John Putch',
 ...]

In [314]:
df.groupby(['director']).size()

director
A. L. Vijay            2
A. Raajdheep           1
A. Salaam              1
A.R. Murugadoss        2
Aadish Keluskar        1
                      ..
Éric Warin             1
Ísold Uggadóttir       1
Óskar Thór Axelsson    1
Ömer Faruk Sorak       3
Şenol Sönmez           2
Length: 4993, dtype: int64

In [315]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [316]:
#top_direct = df.groupby('director')
#top_direct.head(5)

In [317]:
top_direct = df.groupby('director').size().reset_index(name = 'count').sort_values(by= 'count', ascending=False)
top_direct.head(10)

                 director  count
3749        Rajiv Chilaka     22
1906            Jan Suter     21
3800          Raúl Campos     19
4457          Suhas Kadav     16
2866         Marcus Raboy     16
1954            Jay Karas     15
755   Cathy Garcia-Molina     13
1951          Jay Chapman     12
4941      Youssef Chahine     12
2945      Martin Scorsese     12

In [318]:
top_10 = top_direct.iloc[:10,:]

In [319]:
top_10['director'].unique()

array(['Rajiv Chilaka', 'Jan Suter', 'Raúl Campos', 'Suhas Kadav',
       'Marcus Raboy', 'Jay Karas', 'Cathy Garcia-Molina', 'Jay Chapman',
       'Youssef Chahine', 'Martin Scorsese'], dtype=object)

In [320]:
df = df[df['director'].isin(top_10['director'].unique())]

In [321]:
df.to_csv('directors.csv')

 > Hacemos lo mismo con el cast

In [322]:
df_ = df2.copy()

In [323]:
df_['cast']

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [324]:
def separar (col):
    try:
        return col.split(',')
    except:
        pass

In [325]:
df_['cast'] = df_['cast'].apply(separar)

In [326]:
df_['cast']

0                                                    None
1       [Ama Qamata,  Khosi Ngema,  Gail Mabalane,  Th...
2       [Sami Bouajila,  Tracy Gotoas,  Samuel Jouy,  ...
3                                                    None
4       [Mayur More,  Jitendra Kumar,  Ranjan Raj,  Al...
                              ...
8802    [Mark Ruffalo,  Jake Gyllenhaal,  Robert Downe...
8803                                                 None
8804    [Jesse Eisenberg,  Woody Harrelson,  Emma Ston...
8805    [Tim Allen,  Courteney Cox,  Chevy Chase,  Kat...
8806    [Vicky Kaushal,  Sarah-Jane Dias,  Raaghav Cha...
Name: cast, Length: 8807, dtype: object

In [327]:
df_ = df_.explode('cast')

In [328]:
def espais (col):
    try:
        return col.strip()
    except:
        pass

In [329]:
df_['cast'] = df_['cast'].apply(espais)

In [330]:
top_cast = df_.groupby('cast').size().reset_index(name = 'count').sort_values(by= 'count', ascending=False)
top_cast.head(22)

                    cast  count
2832         Anupam Kher     43
30489     Shah Rukh Khan     35
16697      Julie Tejwani     33
24215   Naseeruddin Shah     32
32591   Takahiro Sakurai     32
28974       Rupa Bhimani     31
25424            Om Puri     30
845         Akshay Kumar     30
35880          Yuki Kaji     29
25782       Paresh Rawal     28
1773    Amitabh Bachchan     28
4527         Boman Irani     27
34717       Vincent Tong     26
27355        Rajesh Kava     26
17221     Kareena Kapoor     25
2062       Andrea Libman     25
29600  Samuel L. Jackson     24
15689        John Cleese     24
15231     Jigna Bhardwaj     23
32795        Tara Strong     23
10900    Fred Tatasciore     23
7270         Daisuke Ono     22

In [331]:
top_22 = top_cast.iloc[:22,].reset_index()
top_22.head()

   index              cast  count
0   2832       Anupam Kher     43
1  30489    Shah Rukh Khan     35
2  16697     Julie Tejwani     33
3  24215  Naseeruddin Shah     32
4  32591  Takahiro Sakurai     32

In [332]:
top_22['count'].sum()

619

In [333]:
top_22['cast'].unique()

array(['Anupam Kher', 'Shah Rukh Khan', 'Julie Tejwani',
       'Naseeruddin Shah', 'Takahiro Sakurai', 'Rupa Bhimani', 'Om Puri',
       'Akshay Kumar', 'Yuki Kaji', 'Paresh Rawal', 'Amitabh Bachchan',
       'Boman Irani', 'Vincent Tong', 'Rajesh Kava', 'Kareena Kapoor',
       'Andrea Libman', 'Samuel L. Jackson', 'John Cleese',
       'Jigna Bhardwaj', 'Tara Strong', 'Fred Tatasciore', 'Daisuke Ono'],
      dtype=object)

In [334]:
df_ = df_[df_['cast'].isin(top_22['cast'].unique())]

In [335]:
df_.shape

(619, 12)

In [336]:
df_.to_csv('casting.csv')

 > Hacemos lo mismo con countries

In [337]:
dfc = df2.copy()

In [338]:
def separar (col):
    try:
        return col.split(',')
    except:
        pass

In [339]:
dfc['country'] = dfc['country'].apply(separar)

In [340]:
dfc = dfc.explode('country')

In [341]:
def espais (col):
    try:
        return col.strip()
    except:
        pass

In [342]:
dfc['country'] = dfc['country'].apply(espais)

In [343]:
dfc['country'].unique()

array(['United States', 'South Africa', None, 'India', 'Ghana',
       'Burkina Faso', 'United Kingdom', 'Germany', 'Ethiopia',
       'Czech Republic', 'Mexico', 'Turkey', 'Australia', 'France',
       'Finland', 'China', 'Canada', 'Japan', 'Nigeria', 'Spain',
       'Belgium', 'South Korea', 'Singapore', 'Italy', 'Romania',
       'Argentina', 'Venezuela', 'Hong Kong', 'Russia', '', 'Ireland',
       'Nepal', 'New Zealand', 'Brazil', 'Greece', 'Jordan', 'Colombia',
       'Switzerland', 'Israel', 'Taiwan', 'Bulgaria', 'Algeria', 'Poland',
       'Saudi Arabia', 'Thailand', 'Indonesia', 'Egypt', 'Denmark',
       'Kuwait', 'Netherlands', 'Malaysia', 'Vietnam', 'Hungary',
       'Sweden', 'Lebanon', 'Syria', 'Philippines', 'Iceland',
       'United Arab Emirates', 'Norway', 'Qatar', 'Mauritius', 'Austria',
       'Cameroon', 'Palestine', 'Uruguay', 'Kenya', 'Chile', 'Luxembourg',
       'Cambodia', 'Bangladesh', 'Portugal', 'Cayman Islands', 'Senegal',
       'Serbia', 'Malta', 'Namibia', 'Angola', 'Peru', 'Mozambique',
       'Belarus', 'Zimbabwe', 'Puerto Rico', 'Pakistan', 'Cyprus',
       'Guatemala', 'Iraq', 'Malawi', 'Paraguay', 'Croatia', 'Iran',
       'West Germany', 'Albania', 'Georgia', 'Soviet Union', 'Morocco',
       'Slovakia', 'Ukraine', 'Bermuda', 'Ecuador', 'Armenia', 'Mongolia',
       'Bahamas', 'Sri Lanka', 'Latvia', 'Liechtenstein', 'Cuba',
       'Nicaragua', 'Slovenia', 'Dominican Republic', 'Samoa',
       'Azerbaijan', 'Botswana', 'Vatican City', 'Jamaica', 'Kazakhstan',
       'Lithuania', 'Afghanistan', 'Somalia', 'Sudan', 'Panama', 'Uganda',
       'East Germany', 'Montenegro'], dtype=object)

In [344]:
top_country = dfc.groupby('country').size().reset_index(name = 'count').sort_values(by= 'count', ascending=False)
top_country.head(10)

            country  count
116   United States   3690
46            India   1046
115  United Kingdom    806
21           Canada    445
37           France    393
54            Japan    318
103           Spain    232
101     South Korea    231
39          Germany    226
68           Mexico    169

In [345]:
dfc = dfc.reset_index().drop('index', axis=1)

In [346]:
dfc

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,+14,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,+18,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,+18,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,None,"September 24, 2021",2021,+18,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,+18,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
10845,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,+18,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
10846,s8804,TV Show,Zombie Dumb,NaN,NaN,None,"July 1, 2019",2018,+7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
10847,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,+18,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
10848,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,SP,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
10849,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,+14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [347]:
dfc.to_csv('countries.csv')

In [348]:
top_10c = top_country.iloc[:10,:]
top_10c

            country  count
116   United States   3690
46            India   1046
115  United Kingdom    806
21           Canada    445
37           France    393
54            Japan    318
103           Spain    232
101     South Korea    231
39          Germany    226
68           Mexico    169

In [349]:
top_10c['count'].sum()

7556

In [350]:
top_10c['country'].unique()

array(['United States', 'India', 'United Kingdom', 'Canada', 'France',
       'Japan', 'Spain', 'South Korea', 'Germany', 'Mexico'], dtype=object)

In [351]:
dfc_10 = dfc[dfc['country'].isin(top_10c['country'].unique())]

In [352]:
dfc_10["country"].unique()

array(['United States', 'India', 'United Kingdom', 'Germany', 'Mexico',
       'France', 'Canada', 'Japan', 'Spain', 'South Korea'], dtype=object)

In [353]:
dfc_10.to_csv('countries_10.csv')

In [ ]:
dfc_10["country"].unique()

array(['United States', 'India', 'United Kingdom', 'Germany', 'Mexico',
       'France', 'Canada', 'Japan', 'Spain', 'South Korea'], dtype=object)

 > Countries con el primero

In [354]:
df3 = df2.copy()

In [355]:
s = df3['country'].str.split(pat=',', n=1, expand=True, regex=None)

In [356]:
s.sample(3)

                  0     1
314   United States  None
1662          Egypt  None
2666  United States  None

In [357]:
c = s.reset_index(drop=True)

In [358]:
c[1].unique()

array([None, nan,
       ' Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       ' Czech Republic', ' India, France', ' Canada, United States',
       ' United States, Japan', ' United States', ' United Kingdom',
       ' Singapore', ' Australia, France',
       ' Australia, France, United States', ' Canada', ' Mexico',
       ' Italy, France, Japan', ' Italy, Romania, United Kingdom',
       ' Venezuela', ' United Kingdom, Canada', ' Hong Kong',
       ' China, Hong Kong', ' Germany', ' South Korea', ' Nepal',
       ' Brazil, Greece', ' Japan', ' United Kingdom, Australia',
       ' Spain', ' Nigeria', ' United Kingdom, United States', ' China',
       ' France', ' France, United Kingdom, United States',
       ' France, Algeria',
       ' Israel, Germany, United States, United Kingdom',
       ' Denmark, Germany', ' Switzerland',
       ' Canada, United States, Spain', ' Netherlands, Singapore',
       ' Belgium', ' United States, United Kingdom', ' New Zealand',
       ' Netherlands', ' Australia, United States',
       ' Japan, United States', ' Germany, Spain, United States',
       ' United States, France, Italy', ' Germany, Canada',
       ' France, Italy, United Kingdom',
       ' United Kingdom, Germany, Hungary', ' Syria', ' India',
       ' Singapore, Indonesia', ' United States, Canada',
       ' United Arab Emirates', ' United States, Denmark',
       ' France, Colombia', ' United States, France', ' Bulgaria',
       ' France, Germany, United States', ' Denmark',
       ' France, Lebanon, Qatar', ' South Africa', ' Brazil',
       ' France, Spain, United States', ' Australia',
       ' United Kingdom, France', ' Russia',
       ' United Kingdom, New Zealand', ' Nigeria, United States',
       ' United States, United Kingdom, Canada', ' United States, Mexico',
       ' Germany, United States', ' Taiwan',
       ' Brazil, Japan, Spain, India', ' China, United Kingdom',
       ' Palestine, Denmark, Qatar', ' Saudi Arabia',
       ' France, Poland, Germany, United States',
       ' Switzerland, United Kingdom, France, United States',
       ' South Africa, France', ' United Kingdom, France, Germany', '',
       ' India, United Kingdom', ' Argentina',
       ' United Kingdom, France, Qatar', ' Chile', ' Thailand',
       ' Colombia', ' Cambodia, Romania', ' Belgium, United States',
       ' United States, Australia', ' Ireland', ' Spain, United States',
       ' United States, Cayman Islands', ' Hungary, United States',
       ' Germany, France, United States', ' Algeria',
       ' Finland, Germany, United States, Australia, Japan, France, Ireland',
       ' Canada, United Kingdom, United States',
       ' France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
       ' France, Serbia', ' Italy', ' Ireland, United Kingdom, India',
       ' Malta, France, United Kingdom', ' China, Canada',
       ' United States, Ireland', ' Canada, France', ' France, Canada',
       ' Singapore, Canada, United States', ' France, Denmark',
       ' China, Colombia', ' Thailand, United States',
       ' Luxembourg, Belgium',
       ' United Arab Emirates, France, Switzerland, Germany',
       ' Belgium, Italy', ' United States, United Arab Emirates',
       ' Lebanon', ' Lebanon, United Kingdom',
       ' Norway, Lebanon, Belgium',
       ' Czech Republic, United Kingdom, Denmark, Netherlands',
       ' United Kingdom, India', ' Kenya', ' France, Germany, Spain',
       ' France, United States, Belgium, Luxembourg, China, Germany',
       ' France, Canada, Belgium', ' New Zealand, United States',
       ' Iceland, United States', ' Australia, Germany',
       ' Belgium, Canada, France', ' Angola', ' Philippines',
       ' United Kingdom, Canada, China', ' Canada, United Kingdom',
       ' Germany, Norway', ' Spain, South Korea, United States',
       ' Belgium, Luxembourg, Cambodia,',
       ' France, Belgium, United States',
       ' France, Canada, United States', ' Egypt',
       ' Brazil, Spain, Belgium', ' South Korea, United States',
       ' Jordan, Lebanon, Saudi Arabia', ' Mexico, Spain, Malta',
       ' Germany, United Arab Emirates, New Zealand',
       ' Netherlands, Germany, Jordan, United Arab Emirates, United States',
       ' Germany, United States, France',
       ' United Kingdom, China, Canada, Japan, South Korea, United States',
       ' Mexico, Colombia', ' Turkey', ' United States, Colombia',
       ' United Kingdom, Japan',
       ' France, Belgium, Canada, United States',
       ' Germany, Denmark, United Kingdom',
       ' France, Switzerland, Germany', ' Malta, United States',
       ' France, Belgium, Ireland, United States', ' Norway, Canada',
       ' South Korea, Japan, United States', ' Malaysia',
       ' Argentina, Germany, Spain',
       ' United Kingdom, France, Germany, Japan', ' France, Japan',
       ' France, United States', ' South Korea, Singapore',
       ' Germany, Italy, Canada', ' Germany, Denmark, United States',
       ' Sweden', ' Canada, United States, China', ' Uruguay, Serbia',
       ' Poland', ' United States, Germany, Denmark, Belgium, Japan',
       ' United Kingdom, Canada, United States', ' Bulgaria, Hungary',
       ' Guatemala', ' Senegal, Belgium',
       ' United States, Spain, Colombia', ' Norway', ' Germany, Belgium',
       ' South Korea, Japan', ' Hungary, Australia',
       ' United Kingdom, Germany',
       ' Belgium, Luxembourg, Romania, Canada, United States',
       ' Brazil, France, Portugal, Sweden', ' Singapore, Hong Kong',
       ' China, France, United States', ' Peru, United Kingdom',
       ' China, United States', ' Spain, Mexico', ' Luxembourg, Canada',
       ' Belgium, Sweden', ' Finland', ' Iraq, United States', ' Malawi',
       ' Russia, United States', ' Pakistan', ' Sweden, Belgium',
       ' Argentina, Spain', ' Ireland, United States',
       ' Denmark, Netherlands, Sweden', ' Switzerland, France, Germany',
       ' France, Russia', ' Iran, United States', ' Poland, Serbia',
       ' Portugal', ' Canada, United States, Cayman Islands',
       ' Israel, United Kingdom, Canada', ' India, United States',
       ' West Germany', ' Germany, Austria',
       ' Brazil, South Korea, Mexico, Japan, Germany',
       ' Luxembourg, United States', ' Canada, Ireland', ' Peru',
       ' Canada, United States, Germany', ' Switzerland, Albania, Poland',
       ' Japan, Canada', ' United States, Argentina',
       ' Syria, Egypt, Lebanon, Kuwait',
       ' Canada, Indonesia, United Kingdom, China, Singapore',
       ' South Africa, Australia, United States',
       ' Brazil, France, Poland, Germany, Denmark',
       ' Spain, United States, Germany', ' Qatar',
       ' Belgium, Germany, Jordan', ' Germany, Sweden',
       ' Germany, South Africa', ' Soviet Union', ' Germany, France',
       ' Romania', ' Jordan, Netherlands', ' France, Germany, Poland',
       ' Morocco', ' Colombia, Mexico',
       ' Italy, Israel, Peru, United States', ' Uruguay, Spain, France',
       ' France, United States, Belgium', ' Canada, China, Cambodia',
       ' Slovakia', ' Australia, China', ' United States, Germany',
       ' Italy, Argentina', ' Spain, Argentina, Germany',
       ' Jordan, Qatar, Iran', ' Japan, Netherlands', ' Hungary',
       ' France, Netherlands', ' Ukraine, United States',
       ' Australia, France, China', ' Bermuda, Ecuador',
       ' Hungary, Ireland, Canada', ' Egypt, United States',
       ' France, United Kingdom', ' Mexico, France', ' China, Singapore',
       ' France, Poland', ' Denmark, South Africa',
       ' United States, France, Germany', ' France, Germany',
       ' Luxembourg',
       ' Netherlands, United States, Colombia, Austria, Germany',
       ' Canada, Belgium', ' United States, Spain, Canada',
       ' United Kingdom, United Arab Emirates, Canada',
       ' Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       ' Iran', ' Belgium, Spain', ' Sweden, Israel, United States',
       ' Iceland', ' Israel, Italy, South Africa',
       ' Denmark, France, Germany',
       ' Czech Republic, United States, Germany, Bahamas',
       ' Germany, India, United States', ' Sri Lanka',
       ' India, Bangladesh', ' United States, Hong Kong, Singapore',
       ' Germany, Switzerland',
       ' France, Luxembourg, United Kingdom, United States',
       ' Canada, Italy', ' Hong Kong, United States, China',
       ' Poland, United States', ' Zimbabwe',
       ' Sweden, Norway, Latvia, Germany',
       ' United States, New Zealand, Canada',
       ' Italy, United Kingdom, Liechtenstein',
       ' France, Belgium, Italy, Netherlands, United States, United Kingdom',
       ' Australia, Mexico', ' Czech Republic, Germany, United States',
       ' China, Japan, United States', ' South Korea, China',
       ' Norway, United States', ' Canada, Belgium, United Kingdom',
       ' France, Italy, Morocco, United States', ' Spain, France',
       ' Indonesia', ' France, Italy', ' Israel, Russia', ' Cuba',
       ' France, Mexico', ' Nicaragua',
       ' United States, Spain, Germany, Greece, Canada',
       ' Denmark, Canada, Croatia', ' France, United Kingdom, Japan',
       ' United Kingdom, Denmark, Sweden', ' United Kingdom, Italy',
       ' France, Canada, Spain', ' United States, China',
       ' Canada, Germany', ' United Kingdom, Italy, United States',
       ' Croatia, Germany, Czech Republic, Qatar',
       ' United Kingdom, Netherlands', ' Spain, Germany',
       ' France, Belgium', ' United States, Dominican Republic',
       ' Senegal', ' Germany, Netherlands, France',
       ' United States, United Kingdom, France, Luxembourg',
       ' Germany, Canada, United States',
       ' France, Canada, Lebanon, Qatar',
       ' Belgium, United Kingdom, United States',
       ' Belgium, China, United States', ' Chile, Israel',
       ' Norway, Denmark, Germany, Sweden', ' Denmark, Sweden',
       ' India, Nepal', ' Mexico, United States', ' Greece, Brazil',
       ' Australia, Samoa, United Kingdom', ' Chile, Peru', ' Azerbaijan',
       ' United States, Sweden', ' Cambodia', ' Greece',
       ' United Kingdom, France, Ireland',
       ' Sweden, Germany, Netherlands', ' Botswana',
       ' Argentina, France, Spain, United States',
       ' India, South Korea, China',
       ' Germany, Belgium, United Kingdom, France',
       ' Germany, Belgium, United Kingdom, France, Sweden',
       ' Switzerland, Spain, United States, United Arab Emirates',
       ' India, China, United States', ' France, United States, Sweden',
       ' Iraq', ' Morocco, Hong Kong',
       ' Germany, Czech Republic, Belgium',
       ' Vatican City, Italy, Germany, France',
       ' France, Poland, United States', ' New Zealand, Japan',
       ' Netherlands, Japan, France', ' Japan, France',
       ' Mexico, Germany, South Africa',
       ' France, United States, Canada, United Kingdom', ' Uruguay',
       ' Germany, Australia', ' France, Ireland',
       ' United Kingdom, Canada, Japan', ' United Kingdom, Finland',
       ' United Kingdom, Spain, South Korea',
       ' South Africa, West Germany, Australia, United States',
       ' Germany, United Kingdom, Australia', ' France, Switzerland',
       ' Hong Kong, United States',
       ' United Kingdom, United States, New Zealand, Italy, France',
       ' France, Canada, Belgium, United States',
       ' United Kingdom, Sweden', ' Kazakhstan',
       ' France, United States, Germany, Qatar',
       ' Germany, United Kingdom', ' Germany, United Kingdom, Italy',
       ' New Zealand, United Kingdom', ' France, Uruguay',
       ' Canada, China',
       ' Canada, Luxembourg, United States, United Kingdom, Philippines, India',
       ' Czech Republic, United Kingdom',
       ' Germany, Poland, Luxembourg, Belgium, France, United States',
       ' Lithuania', ' Greece, United Kingdom',
       ' China, United States, India', ' Sweden, Norway',
       ' United States, Morocco', ' United Kingdom, Morocco',
       ' India, United Arab Emirates', ' Canada, France, United States',
       ' Ireland, Netherlands, Germany, Afghanistan',
       ' Canada, Italy, United States, China',
       ' United Kingdom, Greece, France, Netherlands',
       ' Indonesia, Finland, Norway, United Kingdom, Israel, France, United States, Germany, Netherlands',
       ' Australia, South Africa, United Kingdom', ' Germany, Mexico',
       ' Kenya, Sudan, South Africa, United States',
       ' Canada, Japan, Panama', ' Spain, Belgium',
       ' South Korea, Slovenia',
       ' United Kingdom, South Africa, Sweden, Belgium',
       ' Canada, United States, United Kingdom',
       ' Australia, Canada, United States', ' United States, Italy',
       ' Canada, Japan', ' United States, Czech Republic',
       ' Brazil, Germany',
       ' Namibia, South Africa, Zimbabwe, United States',
       ' United States, India, United Kingdom', ' India, Sweden',
       ' Brazil, India, Uganda, China',
       ' India, Thailand, United States, United Arab Emirates',
       ' East Germany, West Germany',
       ' Netherlands, South Africa, Finland', ' Austria, United States',
       ' Slovenia, Serbia, Montenegro', ' France, South Korea, Indonesia',
       ' Jordan'], dtype=object)

In [359]:
def espais (col):
    try:
        return col.strip()
    except:
        pass

In [360]:
c[1] = c[1].apply(espais)

In [361]:
c.groupby(0).size()

0
                  2
Argentina        76
Australia       117
Austria           9
Bangladesh        3
               ...
Uruguay           9
Venezuela         2
Vietnam           7
West Germany      1
Zimbabwe          1
Length: 86, dtype: int64

In [362]:
def separar (col):
    try:
        return col.split(',')
    except:
        pass

In [363]:
c[1] = c[1].apply(separar)

In [364]:
c = c.explode(1)

In [365]:
list(c[1])

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Ghana',
 ' Burkina Faso',
 ' United Kingdom',
 ' Germany',
 ' Ethiopia',
 None,
 None,
 None,
 None,
 'Czech Republic',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'India',
 ' France',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 ' United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 ' Japan',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 'United States',
 'United Kingdom',
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Singapore',
 None,
 None,
 None,
 'Australia',
 ' France',
 None,
 'United States',
 None,
 None,
 None,
 None,
 'Australia',
 ' France',
 ' United States',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 'United States',
 None,
 None,
 None,
 'United States',
 'Mexico',
 'Italy',
 ' France',
 ' Japan',
 'Italy',
 ' Romania',
 ' United Kingdom',
 'United States',
 None,
 None,
 'Venezuela',
 'United Kingdom',
 ' Canada',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Hong Kong',
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 'China',
 ' Hong Kong',
 None,
 None,
 None,
 'United States',
 'Canada',
 None,
 None,
 None,
 None,
 'Germany',
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 ' United States',
 None,
 'South Korea',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Nepal',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Australia',
 ' France',
 ' United States',
 None,
 None,
 'Brazil',
 ' Greece',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Japan',
 None,
 None,
 None,
 'United Kingdom',
 'United States',
 'United Kingdom',
 ' Australia',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 'Spain',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Nigeria',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United Kingdom',
 'United States',
 'Canada',
 'Canada',
 None,
 'Mexico',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 'United Kingdom',
 ' United States',
 'United States',
 None,
 None,
 'Germany',
 'China',
 None,
 None,
 None,
 'France',
 'France',
 ' United Kingdom',
 ' United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'France',
 ' Algeria',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 'Israel',
 ' Germany',
 ' United States',
 ' United Kingdom',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Denmark',
 ' Germany',
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 'Switzerland',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 ' United States',
 None,
 None,
 'United States',
 None,
 None,
 None,
 'Japan',
 None,
 None,
 'Canada',
 ' United States',
 ' Spain',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Netherlands',
 ' Singapore',
 None,
 None,
 None,
 'Belgium',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 'United States',
 ' United Kingdom',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'New Zealand',
 'Germany',
 None,
 None,
 'Netherlands',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Czech Republic',
 None,
 'United States',
 None,
 'Germany',
 None,
 None,
 None,
 None,
 None,
 'Germany',
 'Germany',
 None,
 None,
 None,
 None,
 None,
 'Belgium',
 'China',
 'China',
 None,
 'Australia',
 ' United States',
 None,
 'Japan',
 ' United States',
 None,
 None,
 None,
 None,
 'United Kingdom',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Germany',
 'United States',
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 None,
 'Germany',
 ' Spain',
 ' United States',
 None,
 'United States',
 ' France',
 ' Italy',
 None,
 'Germany',
 ' Canada',
 'France',
 ' Italy',
 ' United Kingdom',
 'United Kingdom',
 ' Germany',
 ' Hungary',
 'Canada',
 'New Zealand',
 None,
 'New Zealand',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Germany',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Syria',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 'India',
 'Singapore',
 ' Indonesia',
 None,
 'United States',
 ' Canada',
 None,
 'United Arab Emirates',
 None,
 'United States',
 ' Denmark',
 None,
 None,
 None,
 None,
 None,
 None,
 'France',
 ' Colombia',
 None,
 'United Kingdom',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 ' France',
 None,
 'United States',
 None,
 None,
 None,
 'Bulgaria',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 'France',
 ' Germany',
 ' United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Denmark',
 None,
 'France',
 ' Lebanon',
 ' Qatar',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Netherlands',
 None,
 'Czech Republic',
 None,
 None,
 None,
 None,
 'South Africa',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Brazil',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 'France',
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'France',
 ' Spain',
 ' United States',
 'United States',
 'Canada',
 ' United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Australia',
 ...]

In [366]:
def espais (col):
    try:
        return col.strip()
    except:
        pass

In [367]:
c[1] = c[1].apply(espais)

In [368]:
list(c[1])

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Ghana',
 'Burkina Faso',
 'United Kingdom',
 'Germany',
 'Ethiopia',
 None,
 None,
 None,
 None,
 'Czech Republic',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'India',
 'France',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 'Japan',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 'United States',
 'United Kingdom',
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Singapore',
 None,
 None,
 None,
 'Australia',
 'France',
 None,
 'United States',
 None,
 None,
 None,
 None,
 'Australia',
 'France',
 'United States',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 'United States',
 None,
 None,
 None,
 'United States',
 'Mexico',
 'Italy',
 'France',
 'Japan',
 'Italy',
 'Romania',
 'United Kingdom',
 'United States',
 None,
 None,
 'Venezuela',
 'United Kingdom',
 'Canada',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Hong Kong',
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 'China',
 'Hong Kong',
 None,
 None,
 None,
 'United States',
 'Canada',
 None,
 None,
 None,
 None,
 'Germany',
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 'United States',
 None,
 'South Korea',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Nepal',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Australia',
 'France',
 'United States',
 None,
 None,
 'Brazil',
 'Greece',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Japan',
 None,
 None,
 None,
 'United Kingdom',
 'United States',
 'United Kingdom',
 'Australia',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 'Spain',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Nigeria',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United Kingdom',
 'United States',
 'Canada',
 'Canada',
 None,
 'Mexico',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 'United Kingdom',
 'United States',
 'United States',
 None,
 None,
 'Germany',
 'China',
 None,
 None,
 None,
 'France',
 'France',
 'United Kingdom',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'France',
 'Algeria',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 'Israel',
 'Germany',
 'United States',
 'United Kingdom',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Denmark',
 'Germany',
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 'Switzerland',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 'United States',
 None,
 None,
 'United States',
 None,
 None,
 None,
 'Japan',
 None,
 None,
 'Canada',
 'United States',
 'Spain',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Netherlands',
 'Singapore',
 None,
 None,
 None,
 'Belgium',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 'United States',
 'United Kingdom',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'New Zealand',
 'Germany',
 None,
 None,
 'Netherlands',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Czech Republic',
 None,
 'United States',
 None,
 'Germany',
 None,
 None,
 None,
 None,
 None,
 'Germany',
 'Germany',
 None,
 None,
 None,
 None,
 None,
 'Belgium',
 'China',
 'China',
 None,
 'Australia',
 'United States',
 None,
 'Japan',
 'United States',
 None,
 None,
 None,
 None,
 'United Kingdom',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Germany',
 'United States',
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 None,
 'Germany',
 'Spain',
 'United States',
 None,
 'United States',
 'France',
 'Italy',
 None,
 'Germany',
 'Canada',
 'France',
 'Italy',
 'United Kingdom',
 'United Kingdom',
 'Germany',
 'Hungary',
 'Canada',
 'New Zealand',
 None,
 'New Zealand',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Germany',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Syria',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United Kingdom',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 'India',
 'Singapore',
 'Indonesia',
 None,
 'United States',
 'Canada',
 None,
 'United Arab Emirates',
 None,
 'United States',
 'Denmark',
 None,
 None,
 None,
 None,
 None,
 None,
 'France',
 'Colombia',
 None,
 'United Kingdom',
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 'Canada',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 'France',
 None,
 'United States',
 None,
 None,
 None,
 'Bulgaria',
 None,
 None,
 None,
 None,
 'Canada',
 None,
 None,
 'France',
 'Germany',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Denmark',
 None,
 'France',
 'Lebanon',
 'Qatar',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Netherlands',
 None,
 'Czech Republic',
 None,
 None,
 None,
 None,
 'South Africa',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Brazil',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'United States',
 'France',
 None,
 None,
 None,
 None,
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'France',
 'Spain',
 'United States',
 'United States',
 'Canada',
 'United States',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Australia',
 ...]

In [369]:
c.rename(columns={0:'main', 1:'contr'}, inplace=True)

In [370]:
c.dropna(inplace=True)

In [382]:
c

                      main           contr
7            United States           Ghana
7            United States    Burkina Faso
7            United States  United Kingdom
7            United States         Germany
7            United States        Ethiopia
...                    ...             ...
8795                 Japan          Canada
8797         United States          France
8797         United States     South Korea
8797         United States       Indonesia
8801  United Arab Emirates          Jordan

[2043 rows x 2 columns]

In [391]:
z1 = c.groupby('main').size().reset_index(name='count').sort_values(by='count', ascending=False)

In [403]:
z1.head(4)

              main  count
69   United States    543
68  United Kingdom    363
17          France    146
8           Canada    128

In [410]:
z2 = c[c['main'].isin(['United States', 'United Kingdom', 'France', 'Canada'])]

In [411]:
z2.shape

(1180, 2)

In [384]:
c.columns

Index(['main', 'contr'], dtype='object')

In [412]:
z2.to_csv('paises_exp.csv')

In [371]:
c['contr']

7                Ghana
7         Burkina Faso
7       United Kingdom
7              Germany
7             Ethiopia
             ...
8795            Canada
8797            France
8797       South Korea
8797         Indonesia
8801            Jordan
Name: contr, Length: 2043, dtype: object

c.groupby('main')['contr'].size()

try:
    c['paises'] = c.groupby(c['main'])['contr'].transform(lambda x : ','.join(x))
except:
    pass

try:
    c.groupby(['main'], as_index = False).agg({'contr': ' '.join})
except:
    pass

In [ ]:
z = c.groupby(['main'])['contr'].apply(','.join).reset_index()

In [372]:
m = c.groupby(['main'])['contr'].apply(','.join).reset_index()

In [377]:
m.reset_index(drop=True)

                    main                                              contr
0                                                South Korea,France,Algeria
1              Argentina  Venezuela,Spain,Chile,Spain,Uruguay,Serbia,Uni...
2              Australia  United States,New Zealand,United States,German...
3                Austria  Germany,Iraq,United States,Czech Republic,Unit...
4                Belgium  United Kingdom,Netherlands,Netherlands,France,...
..                   ...                                                ...
67  United Arab Emirates  Jordan,Lebanon,Saudi Arabia,United Kingdom,Ind...
68        United Kingdom  United States,Australia,France,United States,A...
69         United States  Ghana,Burkina Faso,United Kingdom,Germany,Ethi...
70               Uruguay  Germany,Argentina,Argentina,Germany,Spain,Guat...
71             Venezuela                                           Colombia

[72 rows x 2 columns]

In [380]:
m['main'].duplicated().sum()

0

In [381]:
m.to_csv('paises_prod.csv')

df3[s.columns] = s.values

df3.sample(5)

#df3.drop(['country'], axis=1, inplace=True)

df3.rename(columns={0:'main_country', 1:'contr'}, inplace=True)

df3.head(2)

df3['contr']

def espais (col):
    try:
        return col.strip()
    except:
        pass

df3['contr'] = df3['contr'].apply(espais)

df3['contr'].unique()

def separar (col):
    try:
        return col.split(',')
    except:
        pass

df3['contr'] = df3['contr'].apply(separar)

df3['contr']

df3 = df3.explode('contr')

def espais (col):
    try:
        return col.strip()
    except:
        pass

df3['contr'] = df3['contr'].apply(espais)

df3['contr'].unique()

df3['main_country'].unique()

df3.groupby('main_country')['contr'].get_group('United States')

df3.groupby('main_country')

 > Hacemos lo mismo con listed in

In [ ]:
dfl = df2.copy()

In [ ]:
dfl.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
def separar (col):
    try:
        return col.split(',')
    except:
        pass

In [ ]:
dfl['listed_in'] = dfl['listed_in'].apply(separar)

In [ ]:
dfl = dfl.explode('listed_in')

In [ ]:
def espais (col):
    try:
        return col.strip()
    except:
        pass

In [ ]:
dfl['listed_in'] = dfl['listed_in'].apply(espais)

In [ ]:
dfl['listed_in'].unique()

array(['Documentaries', 'International TV Shows', 'TV Dramas',
       'TV Mysteries', 'Crime TV Shows', 'TV Action & Adventure',
       'Docuseries', 'Reality TV', 'Romantic TV Shows', 'TV Comedies',
       'TV Horror', 'Children & Family Movies', 'Dramas',
       'Independent Movies', 'International Movies', 'British TV Shows',
       'Comedies', 'Spanish-Language TV Shows', 'Thrillers',
       'Romantic Movies', 'Music & Musicals', 'Horror Movies',
       'Sci-Fi & Fantasy', 'TV Thrillers', "Kids' TV",
       'Action & Adventure', 'TV Sci-Fi & Fantasy', 'Classic Movies',
       'Anime Features', 'Sports Movies', 'Anime Series',
       'Korean TV Shows', 'Science & Nature TV', 'Teen TV Shows',
       'Cult Movies', 'TV Shows', 'Faith & Spirituality', 'LGBTQ Movies',
       'Stand-Up Comedy', 'Movies', 'Stand-Up Comedy & Talk Shows',
       'Classic & Cult TV'], dtype=object)

In [ ]:
top_list = dfl.groupby('listed_in').size().reset_index(name = 'count').sort_values(by= 'count', ascending=False)
top_list.head(10)

                   listed_in  count
16      International Movies   2752
12                    Dramas   2427
7                   Comedies   1674
17    International TV Shows   1351
10             Documentaries    869
0         Action & Adventure    859
34                 TV Dramas    763
15        Independent Movies    756
4   Children & Family Movies    641
24           Romantic Movies    616

In [ ]:
dfl = dfl.reset_index().drop('index', axis=1)

In [ ]:
dfl

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,+14,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,+18,2 Seasons,International TV Shows,"After crossing paths at a party, a Cape Town t..."
2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,+18,2 Seasons,TV Dramas,"After crossing paths at a party, a Cape Town t..."
3,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,+18,2 Seasons,TV Mysteries,"After crossing paths at a party, a Cape Town t..."
4,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,+18,1 Season,Crime TV Shows,To protect his family from a powerful drug lor...
...,...,...,...,...,...,...,...,...,...,...,...,...
19318,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,SP,88 min,Children & Family Movies,"Dragged from civilian life, a former superhero..."
19319,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,SP,88 min,Comedies,"Dragged from civilian life, a former superhero..."
19320,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,+14,111 min,Dramas,A scrappy but poor boy worms his way into a ty...
19321,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,+14,111 min,International Movies,A scrappy but poor boy worms his way into a ty...
19322,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,+14,111 min,Music & Musicals,A scrappy but poor boy worms his way into a ty...

In [ ]:
dfl.to_csv('listed_in.csv')

In [ ]:
top_10l = top_list.iloc[:10,:]
top_10l

                   listed_in  count
16      International Movies   2752
12                    Dramas   2427
7                   Comedies   1674
17    International TV Shows   1351
10             Documentaries    869
0         Action & Adventure    859
34                 TV Dramas    763
15        Independent Movies    756
4   Children & Family Movies    641
24           Romantic Movies    616

In [ ]:
top_10l['count'].sum()

12708

In [ ]:
top_10l['listed_in'].unique()

array(['International Movies', 'Dramas', 'Comedies',
       'International TV Shows', 'Documentaries', 'Action & Adventure',
       'TV Dramas', 'Independent Movies', 'Children & Family Movies',
       'Romantic Movies'], dtype=object)

In [ ]:
dfl_10 = dfl[dfl['listed_in'].isin(top_10l['listed_in'].unique())]

In [ ]:
dfl_10["listed_in"].unique()

array(['Documentaries', 'International TV Shows', 'TV Dramas',
       'Children & Family Movies', 'Dramas', 'Independent Movies',
       'International Movies', 'Comedies', 'Romantic Movies',
       'Action & Adventure'], dtype=object)

In [ ]:
dfl_10.to_csv('listed_10.csv')